@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@font-face{
    font-family: fuente-logo;
    src: url("../fuente/Doctor\ Glitch.otf");
}

body {
    font-family: "Montserrat", sans-serif !important;
    scroll-behavior: smooth;
}
/*navbar*/
.nav-item:hover {
    background: rgb(249, 97, 42);
}
.dropdown-menu li:hover {
    background: rgb(249, 97, 42);
}
.dropdown-menu a:hover {
    background-color: transparent;
}

.logo-nav {
    font-size: 30px;
    font-weight: bolder;
    margin-right: 10px;
    background-image: linear-gradient(180deg, #abfaf2 0, #8feae6 25%, #6cd8d8 50%, #41c6cb 75%, #00b6c1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "fuente-logo";
    cursor: pointer;
}

.img-login{
    width: 30px;
}

.pixie-nav {
    width: 100%;
}

/*carousel*/

.carousel-inner {
    height: 500px;
}
.carousel-inner h5{
    font-size: 25px;
}
.carousel-inner p{
    text-align: start;
    line-height: 1.8;
}
.carousel-item {
    height: 500px;
    justify-content: center !important;
    align-items: center;
    border-radius: 10px;
}
.carousel-item img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

.carousel-item:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.1) 40%, rgb(0, 0, 0) 90%);
}

/*cards*/

h3 {
    text-align: center;
    font-family: "Poppins", sans-serif !important;
}

.container {
    margin-top: 60px;
}
/*========================================================*/

/*================== contacto =========================*/
.contacto{
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    position: relative;
    justify-content: center;
}
.contacto h2{
    font-weight: bold;
}
.contacto img{
    width: 100%;
}
.cont-img-izq-contacto{
    width: 25rem;
    position: absolute;
    left: 0;
    z-index: 1;
    overflow: hidden;
}
.cont-img-der-contacto{
    width: 20rem;
    position: absolute;
    right: 0;
    z-index: 1;
    overflow: hidden;
}
.section-contacto{
    z-index: 10;
    margin-top: 0;
    margin-bottom: 3rem;
}
.section-contacto .formulario-contacto{
    width: 100%;
    background-color: rgb(243,243,243);
    box-shadow: 0 8px 8px rgba(0,0,0,.1490196078);
    padding: 3em;
}




/*========================================================*/
.card-juego{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #41c6cb;
}
.contenedor-juego-img{
    width: 100%;
    height: 100%;
    background-color: #1c1c1d;
}
.contenedor-juego-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-logo-img{
    width: 250px;
}
.contenedor-hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    background-image: radial-gradient(circle at 50% -20.71%, #fe8f62 0, #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%);

    transition: all 600ms ease-in-out;
}
.contenedor-hover:hover{
    opacity: 0.8;
}
.contenedor-hover a{
    font-size: 20px;
}

/*==========================================================*/

.button-card {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

/*video fondo*/

h1 {
    font-family: "Poppins", sans-serif !important;
    text-align: center;
}

.promo {
    width: 600px;
    height: auto;
    position: relative;
    z-index: 2;
    background-color: rgba(12, 12, 12, 0.755);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
}

.texto {
        line-height: 30px;
}
#video-promo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 50px;
    padding: 40px 0px ;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-hover:hover{
    background-color: rgb(249, 97, 42) !important;
}



/** ofertas**/
.card-text{
    color: white;
}
.card-title{
    color: white;
}


/*fondo pixie games*/
.contenedor-fondo{
    width: 100%;
    height: 500px;
    margin-bottom: 90px;
}
.fondo-imagen {
    background: url("../img/fondo-juegos.jpg");
    background-position-x: right;
    width: 100%;
    height: 100%;
}
.logo-texto {
    font-size: 60px;
    font-weight: bolder;
    margin-right: 10px;
    background-image: linear-gradient(180deg, #abfaf2 0, #8feae6 25%, #6cd8d8 50%, #41c6cb 75%, #00b6c1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "fuente-logo";
}
.fondo-imagen p {
    width: auto;
    line-height: 2;
    font-weight: 500;
    font-size: 18px;
}

h2 {
    color: beige;
}

/*footer*/
footer a {
    font-weight: 100;
    line-height: 2;
}



/*nosotros*/
.nosotros{
    position: relative;
}
.figure-nosotros{
    height: 500px;
}
.figure-nosotros img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nosotros article{
    position: absolute;
    width: 600px;
    height: 350px;
    padding: 30px;

    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: rgba(25, 25, 25, 0.98);
}
.nosotros article{
    font-size: 20px;
    display: block;
}
.nosotros article h2{
    text-align: center;
    padding-bottom: 15px;
}
/*======================================================*/

/*nosotros seccion relleno*/

.contenedor-joistick{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-joistick img{
    width: 100%;
}

.card-img-nos{
    width: 250px;
    border-radius: 50%;
    
}

.ingenity{
    display: flex;
    justify-content: center;
}

@media(max-width:630px) {
    .fondo-imagen h2{
        font-size: 40px;
    }
    .figure-nosotros{
        margin: 0px;
    }
    .nosotros article{
        margin:0px;
        margin-bottom: 30px;
        width: 100%;
        height: 350px;
        position: relative;
    }
}

@media(max-width:900px){

    .promo {
        width: 100%;
        background-color: rgba(12, 12, 12, 0.755);
        margin: 0px;
    }
    .promo p{
        font-size: medium;
    }
    video{
        position: relative;
        height: 600px;
    }
    #video-promo{
        display: flex;
        flex-wrap: wrap;
    }
}
